name: Build Qt5 Linux AppImage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential \
            ninja-build \
            qtbase5-dev \
            qtbase5-dev-tools \
            libqt5multimedia5 \
            qtmultimedia5-dev \
            qt5-qmake \
            libqt5core5a \
            libqt5gui5 \
            libqt5widgets5 \
            libqt5multimedia5-plugins \
            libqt5svg5-dev \
            libqt5xml5 \
            libgl1-mesa-dev \
            gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good \
            gstreamer1.0-pulseaudio \
            gstreamer1.0-alsa \
            gstreamer1.0-plugins-ugly \
            gstreamer1.0-plugins-bad \
            gstreamer1.0-libav \
            wget \
            fuse \
            libfuse2 \
            squashfs-tools \
            libarchive-dev \
            cmake \
            git \
            llvm \
            gzip \
            findutils \
            libgcc-9-dev \
            libgles-dev \
            libglib2.0-dev \
            libglib2.0-dev-bin \
            libglvnd-dev \
            libglx-dev \
            --allow-downgrades
          wget https://github.com/probonopd/linuxdeployqt/releases/download/continuous/linuxdeployqt-continuous-x86_64.AppImage
          chmod +x linuxdeployqt-continuous-x86_64.AppImage
      - name: Build ftplib
        run: |
          git clone https://github.com/DoctorW00/qtftp.git
          cd qtftp/src/qftp
          qmake
          make
          sudo make install
      - name: Build unrar library
        run: |
          cd unrar
          make lib
          ls -la
      - name: Build C++ with Qt5
        run: |
          mkdir build
          cd build
          qmake ../
          make
      - name: Create .desktop file
        run: |
          mkdir -p SFDLSaugerPro.AppDir/usr/share/applications
          cat << EOF > SFDLSaugerPro.AppDir/usr/share/applications/SFDLSaugerPro.desktop
          [Desktop Entry]
          Name=SFDLSaugerPro
          Exec=SFDLSaugerPro
          Icon=SFDLSaugerPro
          Type=Application
          Categories=Utility;
          EOF
      - name: Create AppImage
        run: |
          mkdir -p SFDLSaugerPro.AppDir/usr/bin
          mkdir -p SFDLSaugerPro.AppDir/usr/lib
          mkdir -p SFDLSaugerPro.AppDir/usr/share/icons/hicolor/512x512/apps
          cp build/SFDLSaugerPro SFDLSaugerPro.AppDir/usr/bin/SFDLSaugerPro
          cp unrar/libunrar.so SFDLSaugerPro.AppDir/usr/lib/libunrar.so
          cp unrar/libunrar.a SFDLSaugerPro.AppDir/usr/lib/libunrar.a
          cp icon.png SFDLSaugerPro.AppDir/usr/share/icons/hicolor/512x512/apps/SFDLSaugerPro.png
          ./linuxdeployqt-continuous-x86_64.AppImage \
            SFDLSaugerPro.AppDir/usr/share/applications/SFDLSaugerPro.desktop \
            -bundle-non-qt-libs \
            -extra-plugins=multimedia
      - name: Bundle GStreamer plugins manually
        run: |
          mkdir -p SFDLSaugerPro.AppDir/usr/lib/x86_64-linux-gnu/gstreamer-1.0
          cp -r /usr/lib/x86_64-linux-gnu/gstreamer-1.0/*.so SFDLSaugerPro.AppDir/usr/lib/x86_64-linux-gnu/gstreamer-1.0/
          mkdir -p SFDLSaugerPro.AppDir/usr/libexec/gstreamer-1.0
          cp /usr/lib/x86_64-linux-gnu/gstreamer1.0/gstreamer-1.0/gst-plugin-scanner \
             SFDLSaugerPro.AppDir/usr/libexec/gstreamer-1.0/
      - name: Patch AppRun for GStreamer
        run: |
          sed -i '/exec "${APPDIR}\/usr\/bin\/SFDLSaugerPro"/i \
          export GST_PLUGIN_SYSTEM_PATH="${APPDIR}/usr/lib/x86_64-linux-gnu/gstreamer-1.0"\n\
          export GST_PLUGIN_SCANNER="${APPDIR}/usr/libexec/gstreamer-1.0/gst-plugin-scanner"\n\
          export GST_REGISTRY_REUSE_PLUGIN_SCANNER=no\n' \
          SFDLSaugerPro.AppDir/AppRun
      - name: Final AppImage creation
        run: |
          ./linuxdeployqt-continuous-x86_64.AppImage \
            SFDLSaugerPro.AppDir/usr/share/applications/SFDLSaugerPro.desktop \
            -appimage
      - name: Upload AppImage as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SFDLSaugerPro.AppImage
          path: 'SFDLSaugerPro*.AppImage'

