name: Build Qt5 Linux AppImage

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            build-essential ninja-build qtbase5-dev qtbase5-dev-tools \
            libqt5multimedia5 qtmultimedia5-dev qt5-qmake libqt5core5a \
            libqt5gui5 libqt5widgets5 libqt5multimedia5-plugins libqt5svg5-dev \
            libqt5xml5 libgl1-mesa-dev gstreamer1.0-plugins-base \
            gstreamer1.0-plugins-good gstreamer1.0-pulseaudio gstreamer1.0-alsa \
            wget fuse libfuse2 squashfs-tools libarchive-dev cmake git llvm \
            gzip findutils libgcc-9-dev libgles-dev libglib2.0-dev \
            libglib2.0-dev-bin libglvnd-dev libglx-dev --allow-downgrades

      - name: Download AppImage Tools
        run: |
          wget https://github.com/linuxdeploy/linuxdeploy/releases/download/1-alpha-20251107-1/linuxdeploy-x86_64.AppImage
          wget https://raw.githubusercontent.com/linuxdeploy/linuxdeploy-plugin-gstreamer/refs/heads/master/linuxdeploy-plugin-gstreamer.sh
          wget https://github.com/linuxdeploy/linuxdeploy-plugin-qt/releases/download/1-alpha-20250213-1/linuxdeploy-plugin-qt-x86_64.AppImage
          chmod +x linuxdeploy-x86_64.AppImage linuxdeploy-plugin-qt-x86_64.AppImage linuxdeploy-plugin-gstreamer.sh
          sudo mv linuxdeploy-plugin-gstreamer.sh /usr/local/bin/linuxdeploy-plugin-gstreamer

      - name: Build ftplib
        run: |
          git clone https://github.com/DoctorW00/qtftp.git
          cd qtftp/src/qftp
          qmake
          make
          sudo make install

      - name: Build unrar library
        run: |
          cd unrar
          make lib

      - name: Build C++ with Qt5
        run: |
          mkdir build
          cd build
          qmake ../
          make

      - name: Create .desktop file and AppDir Structure
        run: |
          # AppDir Struktur erstellen
          mkdir -p SFDLSaugerPro.AppDir/usr/bin
          mkdir -p SFDLSaugerPro.AppDir/usr/lib
          mkdir -p SFDLSaugerPro.AppDir/usr/share/applications
          mkdir -p SFDLSaugerPro.AppDir/usr/share/icons/hicolor/512x512/apps

          # Desktop Datei erzeugen
          cat << EOF > SFDLSaugerPro.AppDir/usr/share/applications/SFDLSaugerPro.desktop
          [Desktop Entry]
          Name=SFDLSaugerPro
          Exec=SFDLSaugerPro
          Icon=SFDLSaugerPro
          Type=Application
          Categories=Utility;
          EOF

          cp build/SFDLSaugerPro SFDLSaugerPro.AppDir/usr/bin/SFDLSaugerPro
          cp unrar/libunrar.so SFDLSaugerPro.AppDir/usr/lib/libunrar.so
          cp icon.png SFDLSaugerPro.AppDir/usr/share/icons/hicolor/512x512/apps/SFDLSaugerPro.png

      - name: Create AppImage
        env:
          QMAKE: /usr/lib/qt5/bin/qmake
          EXTRA_QT_PLUGINS: multimedia
        run: |
          # Erstellung via linuxdeploy
          ./linuxdeploy-x86_64.AppImage \
            --appdir SFDLSaugerPro.AppDir \
            --executable SFDLSaugerPro.AppDir/usr/bin/SFDLSaugerPro \
            --plugin qt \
            --plugin gstreamer \
            --output appimage

      - name: Upload AppImage as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: SFDLSaugerPro.AppImage
          path: 'SFDLSaugerPro*.AppImage'


